* {
  box-sizing: border-box;
}
.header{
  padding-right: 20px;
}
.search{
  display: flex;
  padding-left: 200px;
  /* justify-content: center; */

}
.carousel{
  /* background-color:rgb(182, 253, 101); */
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}




.carousel img {
  height: 500px;
  padding: 10px;
  margin: 10px;
  width: 100vw;
  /* background-size: cover; */
  /* border-radius: 50%; */
  margin-left: auto;
  margin-right: auto; 

}

.carousel-caption h2 {
  color:black;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

