main {
  min-height: 80vh;
}
a {
  color: grey;
}
a :hover {
  color: darkgrey;
  text-decoration: underline;
}
.search{
  display: flex;
  padding-left: 200px;
  /* justify-content: center; */

}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel img {
  height: 500px;
  padding: 10px;
  margin: 10px;
  /* border-radius: 50%; */
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption h2 {
  color: black;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.p-2 {
  cursor: pointer;
  background-color: #f7f7f9;
  border-radius: 30px;
  font-size: 1rem;
  color: gray;
}

.p-2:hover {
  background-color: green;
}

.footer-container {
  justify-content: space-between !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 10px 30px 10px 30px !important;
  flex-wrap: wrap !important;
  height: fit-content;
  width: 100vw !important;
}
